/.venv
/venv
env/
__pycache__/
*.pyc
artifacts/
plantdisease_working/

/models/cnn_1.keras
/models/knn*
/models/rf*
/models/plant_disease_model.keras


/home/vectra/code/code/ML-Project/ML-Project-Docker/models
/ML-Project-Docker/backend/models/cnn_1.keras
/ML-Project-Docker/backend/models/knn*
/ML-Project-Docker/backend/models/rf*
/ML-Project-Docker/backend/models/plant_disease_model.keras